@use "sass:map";

$primary: (
    DEFAULT : #0056B3,
    50      : #EBF9FF,
    100     : #D1F3FF,
    200     : #AEEBFF,
    300     : #76E1FF,
    400     : #35CEFF,
    500     : #07ACFF,
    600     : #0086FF,
    700     : #006DFF,
    800     : #005BD7,
    900     : #0056B3,
    950     : #063165,
);

$web-orange: (
    DEFAULT : #FFA500,
    50      : #FFFCEA,
    100     : #FFF5C5,
    200     : #FFEB85,
    300     : #FFDA46,
    400     : #FFC71B,
    500     : #FFA500,
    600     : #E27C00,
    700     : #BB5502,
    800     : #984208,
    900     : #7C360B,
    950     : #481A00,
);

$forest-green: (
    DEFAULT : #228B22,
    50      : #F1FCF1,
    100     : #E0F9DF,
    200     : #C2F1C1,
    300     : #92E491,
    400     : #5ACF59,
    500     : #34B433,
    600     : #228B22,
    700     : #207521,
    800     : #1E5D1F,
    900     : #1A4D1B,
    950     : #092A0B,
);

$crimson-red: (
    DEFAULT : #EC0E00,
    50      : #FFF1F0,
    100     : #FFDFDD,
    200     : #FFC4C0,
    300     : #FF9A94,
    400     : #FF6157,
    500     : #FF3023,
    600     : #EC0E00,
    700     : #D70D00,
    800     : #B10D03,
    900     : #92120A,
    950     : #500500,
);

$neutral: (
    DEFAULT : #6D6D6D,
    50      : #F6F6F6,
    100     : #E7E7E7,
    200     : #D1D1D1,
    300     : #B0B0B0,
    400     : #888888,
    500     : #6D6D6D,
    600     : #5D5D5D,
    700     : #4F4F4F,
    800     : #454545,
    900     : #3D3D3D,
    950     : #000000,
);

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$custom-colors : ();

@each $variant, $color in $primary {
    @if $variant == DEFAULT {
        $custom-colors: map.set($custom-colors, "primary", $color);
    } @else {
        $custom-colors: map.set($custom-colors, "primary-#{$variant}", $color);
    }
}

@each $variant, $color in $web-orange {
    @if $variant == DEFAULT {
        $custom-colors: map.set($custom-colors, "orange", $color);
    } @else {
        $custom-colors: map.set($custom-colors, "orange-#{$variant}", $color);
    }
}

@each $variant, $color in $forest-green {
    @if $variant == DEFAULT {
        $custom-colors: map.set($custom-colors, "forest", $color);
    } @else {
        $custom-colors: map.set($custom-colors, "forest-#{$variant}", $color);
    }
}

@each $variant, $color in $crimson-red {
    @if $variant == DEFAULT {
        $custom-colors: map.set($custom-colors, "crimson", $color);
    } @else {
        $custom-colors: map.set($custom-colors, "crimson-#{$variant}", $color);
    }
}

@each $variant, $color in $neutral {
    @if $variant == DEFAULT {
        $custom-colors: map.set($custom-colors, "neutral", $color);
    } @else {
        $custom-colors: map.set($custom-colors, "neutral-#{$variant}", $color);
    }
}

$theme-colors: map.merge($theme-colors, $custom-colors);
