$accordion-button-icon: "";
$accordion-button-active-icon: "";

$accordion-button-color: var(--bs-neutral-900);
$accordion-button-bg: white;
$accordion-button-active-color: var(--bs-neutral-900);
$accordion-button-active-bg: white;

$accordion-border-radius: .625rem;