$input-padding-y            : .625rem;
$input-padding-x            : 1.25rem;
$input-font-size            : .875rem;
$input-border-radius        : .625rem;
$input-font-weight          : 500;
$input-border-color         : var(--bs-neutral-200);
$input-focus-border-color   : var(--bs-primary);
$input-focus-box-shadow     : none;
$input-placeholder-color    : var(--bs-neutral-200);

$form-invalid-border-color  : var(--bs-crimson-500);
$form-invalid-color         : var(--bs-crimson);