$pagination-focus-color         : white;
$pagination-focus-bg            : var(--bs-primary);
$pagination-focus-box-shadow    : none;
$pagination-focus-outline       : 0;

$pagination-active-color        : white;
$pagination-active-bg           : var(--bs-primary);
$pagination-active-border-color : var(--bs-primary);

$pagination-disabled-color          : var(--bs-neutral-800);
$pagination-disabled-bg             : var(--bs-neutral-100);
$pagination-disabled-border-color   : var(--bs-neutral-100);
