$translate: (
    0       : 0,
    1\/4    : 25%,
    1\/2    : 50%,
    3\/4    : 75%,
    full    : 100%,
);

$rotate: (
    0   : 0deg,
    45  : 45deg,
    90  : 90deg,
    180 : 180deg,
);

$skew: (
    0   : 0deg,
    3   : 3deg,
    6   : 6deg,
    9   : 9deg,
    12  : 12deg,
);

$scale: (
    0   : 0,
    25  : .25,
    50  : .50,
    75  : .75,
    100  : 1,
    125  : 1.25,
    150  : 1.50,
    175  : 1.75,
    200  : 2,
);