.btn {
    line-height: 1.25rem;

    &.btn-sm {
        line-height: .915rem;
    }

    &.btn-text {
        border-color: transparent;
    }
}

.btn-icon {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
}
