.pagination {
    .page-link {
        border-radius: 100px !important;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}