.page-sidebar {
    width   : 0;
    padding : 0;
    @include media-breakpoint-up(md) {
        width: 64px;
        padding: .625rem 1rem;
    }

    min-height: 100vh;
    max-height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1021;

    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: .125rem;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
    }
    
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: var(--bs-primary);
        }
    }

    background-color: var(--bs-white);
    border-right: 1px solid var(--bs-grey-950);
    transition: width 300ms;

    .logo-container {
        text-align: center;
        padding-top: .75rem;
        padding-bottom: .75rem;
        margin-bottom: 2rem;
        transition: margin-bottom 300ms;

        img {
            transition: width 300ms, height 300ms;
        }
    }

    .menu-section {
        .menu-name {
            color: var(--bs-grey-700);
            font-size: .75rem;
            font-weight: 600;
            line-height: 0;
            padding: 0;
            text-transform: uppercase;
            max-width: 0;
            height: 0;
            overflow: hidden;
            transition: max-width 300ms, padding 300ms, line-height 300ms;
        }

        .menu-list {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                position: relative;
                padding: .625rem 0;
                display: flex;
                justify-content: start;
                align-items: center;
                min-height: 1.25rem;
                
                a {
                    color: var(--bs-grey-700);
                    width: 100%;
                    text-decoration: none;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                }

                .menu-extendable-label {
                    color: var(--bs-grey-700);
                    width: 100%;
                    text-decoration: none;

                    cursor: pointer;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    min-height: 2.5rem;
                }

                .menu-icon {
                    font-size: 1.5rem;
                    transition: margin 300ms;
                }

                .menu-label {
                    font-weight: 400;
                    line-height: 1.5;
                    font-size: .875rem;
                    flex-grow: 1;
                    max-width: 0;
                    height: 0;
                    overflow: hidden;
                    transition: max-width 300ms;
                }

                
                ul {
                    padding-left: 0;
                    margin: auto;

                    li {
                        padding-left: 0;
                        padding-right: 0;

                        .menu-icon {
                            font-size: .875rem;
                        }
                    }
                }

                &:hover, &.active {
                    &>a, &>.menu-extendable-label {
                        color: var(--bs-primary);
                        & > .menu-label{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    &.active {
        @include media-breakpoint-up(md) {
            position: sticky;
        }
    }

    &.active {
        width: 240px;
        padding: .625rem 1rem;

        .logo-container {
            margin-bottom: 0;
        }

        .menu-name {
            max-width: 240px;
            height: auto;
            padding: .625rem 0;
            line-height: 2;
        }

        .menu-list li {
            padding: .75rem .5rem;
            .menu-icon {
                margin-right: .875rem;
            }
            
            .menu-label {
                max-width: 158px;
                height: auto;
            }

            ul {
                margin: 0;
                li {
                    padding-left: 2.375rem;
                    padding-right: inherit;
                    .menu-icon {
                        font-size: .875rem;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &:hover {
            width: 240px;
            padding: .625rem 1rem;

            .logo-container {
                margin-bottom: 0;
            }

            .menu-name {
                max-width: 240px;
                height: auto;
                padding: .625rem 0;
                line-height: 2;
            }

            .menu-list li {
                padding: .75rem .5rem;
                .menu-icon {
                    margin-right: .875rem;
                }
                
                .menu-label {
                    max-width: 158px;
                    height: auto;
                }

                ul {
                    margin: 0;
                    li {
                        padding-left: 2.375rem;
                        padding-right: inherit;
                        .menu-icon {
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    }
}

.page-sidebar-backdrop {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    background: rgba(var(--bs-neutral-500-rgb), .2);
    display: none;
    z-index: 1021;

    &.active {
        display: block;
    }

    @include media-breakpoint-up(md) {
        display: none !important;
    }
}

.sidebar-replacement {
    width   : 0;
    @include media-breakpoint-up(md) {
        width: 64px;
    }
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
}