table.table {
    thead {
        th, td {
            background-color: var(--bs-primary-50);
            font-weight: 600;
            // text-align: center;
        }
    }

    th {
        font-weight: 600;
    }

    th, td {
        padding: .625rem;
        line-height: 1.625rem;
    }
}